body {
  max-width: 960px;
}

main {
  width: 80%;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

section#external-links {
  width: 20%;
  float: right;
  display: inline-block;
  vertical-align: top;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}


@media screen and (max-width: 500px) {
  main {
    font-size: 80%;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size 60%;
  }
}

@media screen and (max-width: 500px) {
  section#external-links {
    font-size: 80%;
  }

@media screen and (max-width: 40px) {
  main {
    width: 92%;
  }
}

@media screen and (max-width: 400px) {
  section#external-links {
    width: 8%;
  }
}

/* Saving as a comment - this command will make the screen hot pink if reduced to a width of 500px or less - 
/* @media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}
/*